{block #content}

    <h1>Zaměstnanci</h1>

    <p>
        <a href="{plink Pid:default}">Rodná čísla</a>
        <a href="{plink Company:default}">Firmy</a>
        <a href="{plink Statistic:default}">Statistiky</a>
        <a href="{plink Homepage:default}">Menu</a>
    </p>

    <a href="{plink add}">Vytvoř</a>
    <div class="table">
        <div class="row">
            <div class="cell tencol">Firma</div>
            <div class="cell tencol">Jméno</div>
            <div class="cell tencol">Příjmení</div>
            <div class="cell tencol">Rodné číslo</div>
            <div class="cell tencol">Pohlaví</div>
            <div class="cell tencol">Datum narození</div>
            <div class="cell tencol">Plat</div>
            <div class="cell tencol">Daň</div>
            <div class="cell tencol">Akce</div>
        </div>
        {foreach $employers as $e}
            <div class="row">
                <div class="cell tencol">{$e->company->name} </div>
                <div class="cell tencol"><a href="http://www.kdejsme.cz/prijmeni/{$e->surname}/">{$e->surname}</a></div>
                <div class="cell tencol"><a href="http://www.kdejsme.cz/prijmeni/{$e->firstname}/">{$e->firstname}</a></div>
                <div class="cell tencol">{ifset $e->pid_id}{$e->pid->name}{/ifset}</div>
                <div class="cell tencol">{$e->pid_id|sex}</div>
                <div class="cell tencol">{$e->pid_id|birthday}</div>
                <div class="cell tencol">{$e->salary}</div>
                <div class="cell tencol">{$e->salary * 0.22}</div>
                <div class="cell tencol"><a href="{plink edit id => $e->id}">Edituj</a> | <a href="{plink delete id => $e->id}">Odeber</a></div>
            </div>
        {/foreach}
    </div>

{/block}

{block css}
    <style>
        .table {
            width: 100%;
            height: 100%;
        }

        .row {
            width: 100%;
            min-height: 1px;
            height: auto;
            margin: 0;
        }

        .cell {
            float: left;
            margin: 0;
            padding: 0;
        }

        .onecol {
            width: 100%;
        }

        .twocol {
            width: 50%;
        }

        .tencol {
            width: 11%;
        }
    </style>
{/block}
