{block #content}

<h1>Firmy</h1>

<p>
    <a href="{plink Pid:default}">Rodná čísla</a>
    <a href="{plink Employer:default}">Zaměstnanci</a>
    <a href="{plink Statistic:default}">Statistika</a>
    <a href="{plink Homepage:default}">Menu</a>
</p>
<a href="{plink add}">Vytvoř</a>
<table border="1" width="100%">
    <tr>
        <th>Jméno</th>
        <th>Registrace</th>
        <th>Je plátce DPH?</th>
        <th>Telefon</th>
        <th colspan="2">Akce</th>
    </tr>
        {foreach $companies as $c}
            <tr>
                <td>{$c->name}</td>
                <td>{$c->registered|date:'%d.%m.%Y - %H:%M:%S'}</td>
                <td>{ifset $c->is_dph}ANO{else}NE{/ifset}</td>
                <td>{$c->phone|phone}</td>
                <td><a href="{plink edit id => $c->id}">Edituj</a></td>
                <td><a href="{plink delete id => $c->id}">Odeber</a></td>
            </tr>
        {/foreach}
    </div>
</table>